# LangGraph and Core LangChain
langchain-core
langgraph
langchain
langchain-openai
langchain_community
langchain-text-splitters

# RAG (VectorStore and PDF)
chromadb
pypdf

# Utilities
pydantic
python-dotenv
